---
import SearchBar from "./SearchBar.astro";
const { isHome, textdark } = Astro.props;
const mainMenu = [
  {
    title: "Strona główna",
    link: '/'
  },
  {
    title: "O firmie",
    link: "/",
    submenu: [
      { title: "O nas", link: "/o-nas" },
      { title: "Marka Mr Nodu", link: "/marka-mr-nodu" },
      { title: "Dla biznesu", link: "/dla-biznesu" },
    ],
  },
  {
    title: "Produkty",
    link: "/produkty",
  },
  { title: "Nasi partnerzy", link: "/nasi-partnerzy" },
  { title: "Baza wiedzy", link: "/baza-wiedzy" },
  { title: "Jakość produktów", link: "/jakosc-produktow" },
];
---

<header
  id="header"
  class="lg:pt-11 absolute top-0 w-full left-0 right-0 z-50"
>
  <div
    class="container px-4 md:px-8 lg:px-16"
  >
    <div class="flex items-center justify-end mx-4 lg:mx-0">
      {
        (
          <a href="/" class={`mr-auto logo inView -ml-8 md:ml-0`}>
            {textdark ? (
              <svg width="166" height="94" viewBox="0 0 166 94" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M53.5263 42.1253C53.5263 42.386 53.1615 42.4903 52.4839 42.4382H51.5458H50.764C50.2949 42.4382 50.0343 42.4903 49.9301 42.6467C49.8258 42.8031 49.8258 43.2202 49.8258 43.8979V65.3256C49.8258 66.629 49.8258 67.411 49.7737 67.6195C49.7216 67.8281 49.6695 67.9323 49.5131 67.9323C49.3568 67.9323 49.1483 67.7759 48.9398 67.5153L43.4673 60.5291C40.288 56.4626 36.4833 51.4054 31.9489 45.3577V66.1597C32.001 66.4725 32.2095 66.6811 32.5743 66.7854C32.9913 66.8896 33.9294 66.9418 35.4409 66.9418C35.8057 66.9418 36.0142 67.046 36.0142 67.2546C36.0142 67.5153 35.6494 67.6195 34.9197 67.6195C34.6591 67.6195 33.8773 67.5674 32.4701 67.5153C32.001 67.5153 31.5841 67.4631 31.1671 67.4631C31.2192 67.4631 30.9586 67.4631 30.4374 67.5153C29.9163 67.5674 29.0823 67.5674 28.04 67.5674H27.623C26.9455 67.5674 26.6327 67.4631 26.6327 67.2546C26.6327 67.046 26.8933 66.9418 27.4666 66.9418C29.1345 66.9418 30.1247 66.8375 30.3853 66.6811C30.6459 66.5247 30.8023 66.0033 30.8023 65.117V46.7654C30.8023 44.68 30.3332 43.4287 29.3429 42.9074C28.8739 42.6467 28.0921 42.5424 26.8933 42.5424C26.1637 42.5424 25.7988 42.386 25.7988 42.1253C25.7988 41.8647 26.0073 41.7604 26.4243 41.7604C26.9976 41.7604 27.7272 41.7604 28.6133 41.8125C29.4993 41.8647 29.9684 41.8647 30.0205 41.8647C30.1247 41.8647 30.4896 41.8647 31.2192 41.8125C32.1574 41.8125 33.0434 41.7604 33.9294 41.7083L48.6271 60.8941V44.3672C48.6271 43.5851 48.6271 43.1159 48.575 42.9595C48.5228 42.8031 48.4186 42.6988 48.2101 42.5946C48.0017 42.4903 47.3241 42.4903 46.1775 42.4903C45.1351 42.4903 44.666 42.386 44.666 42.1775C44.666 41.9168 45.0309 41.8125 45.7084 41.8125H47.2199C47.5847 41.8125 48.0017 41.8125 48.4186 41.8125C48.8877 41.8125 49.1483 41.8125 49.2525 41.8125C49.3046 41.8125 49.5131 41.8125 50.0343 41.8125C50.5034 41.8125 50.9203 41.8125 51.3373 41.8125H52.6403C53.2136 41.7604 53.5263 41.9168 53.5263 42.1253ZM111.483 54.7421C111.483 59.1215 109.711 62.5624 106.219 64.9606C103.665 66.7332 100.225 67.6717 95.9514 67.6717C95.8472 67.6717 95.326 67.6717 94.44 67.6717C93.5539 67.6717 92.2509 67.6717 90.531 67.6717H88.3941H85.0064C84.7979 67.6717 84.5894 67.6717 84.3809 67.6717C83.8597 67.6717 83.547 67.5674 83.547 67.3067C83.547 67.0982 84.0161 66.9939 84.9021 66.9939C86.0487 66.9939 86.7784 66.7854 87.0911 66.4204C87.1954 66.264 87.2475 65.7948 87.2475 65.0128V44.8885C87.2475 43.6894 87.1433 42.9595 86.9348 42.751C86.7263 42.5424 85.9966 42.4382 84.7458 42.4382C84.0682 42.4382 83.7555 42.2817 83.7555 42.0211C83.7555 41.8125 84.0161 41.7083 84.4852 41.7083C84.4331 41.7083 84.7458 41.7083 85.4233 41.7083C86.1009 41.7083 86.7263 41.7083 87.3517 41.7083H91.9382C97.0459 41.7083 100.694 42.0211 102.831 42.6467C105.437 43.3766 107.522 44.8885 109.085 47.0782C110.701 49.32 111.483 51.8747 111.483 54.7421ZM106.688 54.5857C106.688 50.467 105.75 47.4431 103.926 45.462C102.101 43.533 99.1828 42.5424 95.2739 42.5424C93.3455 42.5424 92.1988 42.6988 91.834 43.0638C91.6776 43.2202 91.5734 43.8458 91.5734 44.8364V64.6999C91.5734 65.3777 91.5734 65.8469 91.6255 65.9512C91.6776 66.1076 91.7819 66.2119 91.9903 66.3161C92.6679 66.6289 94.1272 66.7854 96.3163 66.7854C99.3913 66.7854 101.841 65.8469 103.717 63.97C105.698 62.041 106.688 58.9129 106.688 54.5857ZM140.201 42.1253C140.201 42.3339 139.94 42.4382 139.419 42.4382C139.315 42.4382 139.054 42.4382 138.585 42.4382C138.429 42.4382 138.22 42.4382 138.012 42.4382C137.282 42.4382 136.865 42.5946 136.709 42.9074C136.657 43.0638 136.604 43.3766 136.604 43.7415V57.7138C136.604 61.3111 135.823 63.9701 134.259 65.6384C132.696 67.3067 130.194 68.0887 126.754 68.0887C122.637 68.0887 119.718 67.046 118.05 65.0128C116.955 63.6572 116.382 61.4154 116.382 58.2873V43.3766C116.278 42.9074 115.965 42.6467 115.34 42.5424C115.183 42.5424 114.61 42.4903 113.724 42.4903C113.255 42.4382 112.994 42.3339 112.994 42.1253C112.994 41.9168 113.203 41.8125 113.568 41.8125H114.35C114.506 41.8125 114.819 41.8125 115.34 41.8125C115.809 41.8125 116.226 41.8125 116.591 41.8125H122.689C122.845 41.8125 123.001 41.8125 123.21 41.8125C123.679 41.8125 123.939 41.9689 123.939 42.2296C123.939 42.386 123.835 42.4903 123.679 42.5424C123.523 42.5424 122.949 42.5946 121.959 42.5946C121.542 42.5946 121.281 42.5946 121.125 42.6467C120.864 42.751 120.708 42.9074 120.656 43.1681C120.604 43.2723 120.604 43.9501 120.604 45.3056V58.6001C120.604 61.8846 121.177 64.0743 122.376 65.2734C123.575 66.4725 125.347 67.046 127.692 67.046C132.018 67.046 134.468 64.9085 135.041 60.6334C135.145 60.0078 135.145 57.2446 135.145 52.4481V50.3106V47.3389V44.8364C135.145 44.5757 135.145 44.315 135.145 44.0022C135.145 43.6894 135.145 43.533 135.145 43.5851C135.145 43.0638 134.832 42.6988 134.259 42.5946C134.051 42.5424 133.477 42.5424 132.487 42.5424C131.914 42.5424 131.653 42.386 131.653 42.1253C131.653 41.9168 131.862 41.8125 132.279 41.8125C132.487 41.8125 132.696 41.8125 132.852 41.8125C133.217 41.8125 134.415 41.8125 136.604 41.8125C136.917 41.8125 137.282 41.8125 137.699 41.8125C138.064 41.8125 138.324 41.8125 138.533 41.8125H139.158C139.888 41.8125 140.201 41.9168 140.201 42.1253ZM81.9834 54.8985C81.9834 58.6001 80.7326 61.7282 78.1787 64.2829C75.6249 66.8375 72.4977 68.1409 68.7973 68.1409C64.8883 68.1409 61.5527 66.8375 58.8946 64.2307C56.2365 61.624 54.8814 58.4437 54.8814 54.6378C54.8814 50.7798 56.1844 47.5996 58.7382 45.0971C61.2921 42.6467 64.6277 41.3955 68.6409 41.3955C72.4456 41.3955 75.5728 42.6988 78.1787 45.2535C80.6805 47.8602 81.9834 51.0405 81.9834 54.8985ZM68.4324 41.4476C68.4324 41.4476 67.0252 44.5757 66.7646 45.827C66.5561 46.7654 66.7125 47.7038 67.2337 48.4859C67.5464 48.9551 67.9634 49.32 68.4324 49.32C68.9015 49.32 69.3185 48.9551 69.6312 48.4859C70.1524 47.7038 70.3087 46.7654 70.1002 45.827C69.8396 44.5757 68.4324 41.4476 68.4324 41.4476ZM76.4067 59.7471C76.4067 59.7471 72.2893 61.5718 70.882 62.5624C69.8918 63.2923 69.1621 64.3871 69.0057 65.5862C68.9015 66.3683 69.0057 67.046 69.4748 67.4631C69.9439 67.8802 70.6736 67.8802 71.4032 67.7238C72.602 67.411 73.5922 66.6289 74.2177 65.5341C75.0516 64.0743 76.4067 59.7471 76.4067 59.7471ZM75.7812 53.4908C75.7812 53.4908 72.0287 55.1592 70.7257 56.0976C69.7875 56.7754 69.1621 57.7659 69.0057 58.8608C68.9015 59.5385 69.0057 60.2163 69.4227 60.5812C69.8396 60.9462 70.5172 60.9983 71.1947 60.7898C72.2893 60.5291 73.1753 59.7992 73.7486 58.8087C74.5304 57.401 75.7812 53.4908 75.7812 53.4908ZM75.1558 47.9645C75.1558 47.9645 71.7681 49.4764 70.5693 50.3106C69.7354 50.8841 69.1621 51.8225 69.0057 52.8131C68.9015 53.4387 69.0057 54.0122 69.3706 54.3771C69.7354 54.69 70.3608 54.7421 70.9342 54.5857C71.9244 54.325 72.7583 53.6473 73.2274 52.761C74.0092 51.5618 75.1558 47.9645 75.1558 47.9645ZM62.5951 65.5341C63.2205 66.6289 64.2108 67.411 65.4095 67.7238C66.1392 67.9323 66.8688 67.8802 67.3379 67.4631C67.807 67.046 67.9112 66.3161 67.807 65.5862C67.6506 64.3871 66.921 63.2923 65.9307 62.5624C64.5235 61.5718 60.4061 59.7471 60.4061 59.7471C60.4061 59.7471 61.7612 64.0743 62.5951 65.5341ZM63.0641 58.7565C63.6374 59.7471 64.5235 60.477 65.618 60.7377C66.2955 60.8941 66.9731 60.8941 67.39 60.5291C67.807 60.1642 67.9112 59.4864 67.807 58.8087C67.6506 57.7138 67.0252 56.7232 66.0871 56.0455C64.8362 55.107 61.0315 53.4387 61.0315 53.4387C61.0315 53.4387 62.2823 57.401 63.0641 58.7565ZM63.4811 52.8131C64.0023 53.6994 64.8362 54.3771 65.7743 54.6378C66.3998 54.7942 66.9731 54.7421 67.3379 54.4293C67.7028 54.1165 67.807 53.4908 67.7027 52.8652C67.5464 51.8747 66.9731 50.9362 66.1392 50.3627C64.9925 49.5286 61.5527 48.0166 61.5527 48.0166C61.5527 48.0166 62.8035 51.5618 63.4811 52.8131ZM40.9655 37.9545C40.9655 38.1109 40.8092 38.1631 40.4965 38.1631C40.5486 38.1631 40.4965 38.1631 40.2359 38.1631C39.9753 38.1631 39.5583 38.1631 39.0371 38.1631H38.0469C37.7863 38.1631 37.4214 38.1631 37.0045 38.1631C36.5875 38.1631 36.1706 38.1631 35.8057 38.1631H35.6494C35.3367 38.1631 35.1803 38.1109 35.1803 37.9545C35.1803 37.9024 35.2324 37.8502 35.2845 37.7981C35.3888 37.7981 35.6494 37.746 36.1706 37.746C36.5354 37.746 36.7439 37.6938 36.8481 37.5896C36.9002 37.4853 36.9524 37.1725 36.9524 36.599V27.9445C36.6396 28.8308 36.1185 30.2906 35.3888 32.376C34.9718 33.6273 34.4506 35.1913 33.8252 37.1725C33.6688 37.746 33.5125 38.0067 33.4082 38.0067C33.2519 38.0067 33.0955 37.746 32.9392 37.2768C32.5222 36.0255 31.3235 33.0017 29.2908 28.1009V37.3289C29.2908 37.5374 29.3951 37.6938 29.5514 37.746C29.812 37.746 30.1247 37.7981 30.5417 37.7981C30.7502 37.7981 30.9065 37.8502 30.9065 38.0067C30.9065 38.1631 30.7502 38.2152 30.3853 38.2152H30.0205C29.8641 38.2152 29.6557 38.2152 29.4472 38.2152H27.9357C27.7794 38.2152 27.5709 38.2152 27.3624 38.2152C27.1018 38.2152 26.9455 38.1631 26.9455 38.0067C26.9455 37.9024 27.206 37.7981 27.7794 37.7981C28.1963 37.7981 28.4048 37.746 28.4569 37.6417C28.509 37.5374 28.5612 37.2768 28.5612 36.7554V27.5796C28.5612 26.954 28.509 26.589 28.4048 26.4847C28.3006 26.3805 27.8836 26.3283 27.2582 26.2762C27.0497 26.2762 26.8933 26.2241 26.8933 26.0677C26.8933 25.9634 27.0497 25.9113 27.3624 25.8591C27.6751 25.8591 28.7175 25.807 30.5938 25.807L30.698 26.1198C30.8023 26.3283 30.9065 26.589 31.0629 26.954L31.6883 28.5702C31.8447 29.0394 32.1574 29.7693 32.5743 30.812L33.9816 34.305C34.2422 33.4709 34.4506 32.7931 34.607 32.376L36.9002 25.7549H38.9329H40.1316C40.6007 25.7549 40.8092 25.807 40.8092 25.9634C40.8092 26.1198 40.6528 26.1719 40.288 26.1719C39.8189 26.1719 39.5583 26.2241 39.4541 26.2241C39.1935 26.3283 39.0893 26.4847 39.0893 26.7976V36.4947C39.0893 37.2246 39.1414 37.5896 39.2977 37.6417C39.402 37.6938 39.8189 37.746 40.5486 37.746C40.8092 37.746 40.9655 37.7981 40.9655 37.9545ZM53.0572 37.4332C53.0572 38.0067 52.536 38.2673 51.5458 38.2673C50.6076 38.2673 49.7737 37.9024 49.2004 37.1725C48.9398 36.8597 48.7313 36.5469 48.6792 36.2341C48.575 35.9212 48.4707 35.1392 48.3665 33.9401C48.2623 33.1581 48.0538 32.6367 47.6368 32.3239C47.2199 32.0111 46.5423 31.8547 45.552 31.8025V37.3289C45.4999 37.5896 45.969 37.6938 46.9071 37.6938C47.1156 37.6938 47.2199 37.746 47.2199 37.9024C47.2199 38.0067 47.1156 38.1109 46.855 38.1109C46.6466 38.1109 46.4902 38.1109 46.2817 38.1109H45.3436C44.9266 38.1109 44.4575 38.1109 43.9363 38.1109C43.4152 38.1109 43.1024 38.1109 43.0503 38.1109H42.5291C42.0079 38.1109 41.7995 38.0588 41.7995 37.9545C41.7995 37.7981 41.9037 37.746 42.0601 37.746C42.1122 37.746 42.2164 37.746 42.3206 37.746H42.4249C43.0503 37.746 43.363 37.6417 43.363 37.381V26.7976C43.363 26.589 43.3109 26.4847 43.2067 26.4326C43.1024 26.3805 42.8418 26.3283 42.4249 26.3283C42.0079 26.3283 41.7995 26.2762 41.7995 26.1198C41.7995 26.0155 41.9037 25.9113 42.1643 25.9113H42.3728C42.6334 25.9113 43.5194 25.9113 44.9266 25.9113C45.4999 25.9113 46.0211 25.9113 46.386 25.9113C46.7508 25.9113 47.0635 25.9113 47.272 25.9113C48.4707 25.9113 49.4089 26.1719 50.1385 26.6412C50.8682 27.1104 51.2331 27.7881 51.2331 28.5702C51.2331 29.4565 50.8682 30.1342 50.0864 30.7077C49.3046 31.2291 48.2101 31.5419 46.855 31.6461C48.3665 31.8026 49.4089 32.2196 49.9301 32.8453C50.5034 33.4709 50.8682 34.5657 51.0246 36.2341C51.1288 37.3289 51.4415 37.9024 52.0148 37.9024C52.1191 37.9024 52.1712 37.9024 52.1712 37.7981C52.1712 37.7981 52.1712 37.746 52.1191 37.6417C52.067 37.5374 52.067 37.4853 52.067 37.4332C52.067 37.1204 52.2233 36.9118 52.5882 36.9118C52.9009 36.9118 53.0572 37.0682 53.0572 37.4332ZM48.8356 28.7787C48.8356 27.1625 48.0538 26.3805 46.4902 26.3805C46.0732 26.3805 45.8126 26.4326 45.7084 26.4847C45.6042 26.589 45.552 26.7454 45.552 27.0582V31.4376C47.7411 31.4376 48.8356 30.5513 48.8356 28.7787Z" fill="#7D141B"/>
</svg>

            ) : (
            <svg width="166" height="94" viewBox="0 0 166 94" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M53.5263 42.1253C53.5263 42.386 53.1615 42.4903 52.4839 42.4382H51.5458H50.764C50.2949 42.4382 50.0343 42.4903 49.9301 42.6467C49.8258 42.8031 49.8258 43.2202 49.8258 43.8979V65.3256C49.8258 66.629 49.8258 67.411 49.7737 67.6195C49.7216 67.8281 49.6695 67.9323 49.5131 67.9323C49.3568 67.9323 49.1483 67.7759 48.9398 67.5153L43.4673 60.5291C40.288 56.4626 36.4833 51.4054 31.9489 45.3577V66.1597C32.001 66.4725 32.2095 66.6811 32.5743 66.7854C32.9913 66.8896 33.9294 66.9418 35.4409 66.9418C35.8057 66.9418 36.0142 67.046 36.0142 67.2546C36.0142 67.5153 35.6494 67.6195 34.9197 67.6195C34.6591 67.6195 33.8773 67.5674 32.4701 67.5153C32.001 67.5153 31.5841 67.4631 31.1671 67.4631C31.2192 67.4631 30.9586 67.4631 30.4374 67.5153C29.9163 67.5674 29.0823 67.5674 28.04 67.5674H27.623C26.9455 67.5674 26.6327 67.4631 26.6327 67.2546C26.6327 67.046 26.8933 66.9418 27.4666 66.9418C29.1345 66.9418 30.1247 66.8375 30.3853 66.6811C30.6459 66.5247 30.8023 66.0033 30.8023 65.117V46.7654C30.8023 44.68 30.3332 43.4287 29.3429 42.9074C28.8739 42.6467 28.0921 42.5424 26.8933 42.5424C26.1637 42.5424 25.7988 42.386 25.7988 42.1253C25.7988 41.8647 26.0073 41.7604 26.4243 41.7604C26.9976 41.7604 27.7272 41.7604 28.6133 41.8125C29.4993 41.8647 29.9684 41.8647 30.0205 41.8647C30.1247 41.8647 30.4896 41.8647 31.2192 41.8125C32.1574 41.8125 33.0434 41.7604 33.9294 41.7083L48.6271 60.8941V44.3672C48.6271 43.5851 48.6271 43.1159 48.575 42.9595C48.5228 42.8031 48.4186 42.6988 48.2101 42.5946C48.0017 42.4903 47.3241 42.4903 46.1775 42.4903C45.1351 42.4903 44.666 42.386 44.666 42.1775C44.666 41.9168 45.0309 41.8125 45.7084 41.8125H47.2199C47.5847 41.8125 48.0017 41.8125 48.4186 41.8125C48.8877 41.8125 49.1483 41.8125 49.2525 41.8125C49.3046 41.8125 49.5131 41.8125 50.0343 41.8125C50.5034 41.8125 50.9203 41.8125 51.3373 41.8125H52.6403C53.2136 41.7604 53.5263 41.9168 53.5263 42.1253ZM111.483 54.7421C111.483 59.1215 109.711 62.5624 106.219 64.9606C103.665 66.7332 100.225 67.6717 95.9514 67.6717C95.8472 67.6717 95.326 67.6717 94.44 67.6717C93.5539 67.6717 92.2509 67.6717 90.531 67.6717H88.3941H85.0064C84.7979 67.6717 84.5894 67.6717 84.3809 67.6717C83.8597 67.6717 83.547 67.5674 83.547 67.3067C83.547 67.0982 84.0161 66.9939 84.9021 66.9939C86.0487 66.9939 86.7784 66.7854 87.0911 66.4204C87.1954 66.264 87.2475 65.7948 87.2475 65.0128V44.8885C87.2475 43.6894 87.1433 42.9595 86.9348 42.751C86.7263 42.5424 85.9966 42.4382 84.7458 42.4382C84.0682 42.4382 83.7555 42.2817 83.7555 42.0211C83.7555 41.8125 84.0161 41.7083 84.4852 41.7083C84.4331 41.7083 84.7458 41.7083 85.4233 41.7083C86.1009 41.7083 86.7263 41.7083 87.3517 41.7083H91.9382C97.0459 41.7083 100.694 42.0211 102.831 42.6467C105.437 43.3766 107.522 44.8885 109.085 47.0782C110.701 49.32 111.483 51.8747 111.483 54.7421ZM106.688 54.5857C106.688 50.467 105.75 47.4431 103.926 45.462C102.101 43.533 99.1828 42.5424 95.2739 42.5424C93.3455 42.5424 92.1988 42.6988 91.834 43.0638C91.6776 43.2202 91.5734 43.8458 91.5734 44.8364V64.6999C91.5734 65.3777 91.5734 65.8469 91.6255 65.9512C91.6776 66.1076 91.7819 66.2119 91.9903 66.3161C92.6679 66.6289 94.1272 66.7854 96.3163 66.7854C99.3913 66.7854 101.841 65.8469 103.717 63.97C105.698 62.041 106.688 58.9129 106.688 54.5857ZM140.201 42.1253C140.201 42.3339 139.94 42.4382 139.419 42.4382C139.315 42.4382 139.054 42.4382 138.585 42.4382C138.429 42.4382 138.22 42.4382 138.012 42.4382C137.282 42.4382 136.865 42.5946 136.709 42.9074C136.657 43.0638 136.604 43.3766 136.604 43.7415V57.7138C136.604 61.3111 135.823 63.9701 134.259 65.6384C132.696 67.3067 130.194 68.0887 126.754 68.0887C122.637 68.0887 119.718 67.046 118.05 65.0128C116.955 63.6572 116.382 61.4154 116.382 58.2873V43.3766C116.278 42.9074 115.965 42.6467 115.34 42.5424C115.183 42.5424 114.61 42.4903 113.724 42.4903C113.255 42.4382 112.994 42.3339 112.994 42.1253C112.994 41.9168 113.203 41.8125 113.568 41.8125H114.35C114.506 41.8125 114.819 41.8125 115.34 41.8125C115.809 41.8125 116.226 41.8125 116.591 41.8125H122.689C122.845 41.8125 123.001 41.8125 123.21 41.8125C123.679 41.8125 123.939 41.9689 123.939 42.2296C123.939 42.386 123.835 42.4903 123.679 42.5424C123.523 42.5424 122.949 42.5946 121.959 42.5946C121.542 42.5946 121.281 42.5946 121.125 42.6467C120.864 42.751 120.708 42.9074 120.656 43.1681C120.604 43.2723 120.604 43.9501 120.604 45.3056V58.6001C120.604 61.8846 121.177 64.0743 122.376 65.2734C123.575 66.4725 125.347 67.046 127.692 67.046C132.018 67.046 134.468 64.9085 135.041 60.6334C135.145 60.0078 135.145 57.2446 135.145 52.4481V50.3106V47.3389V44.8364C135.145 44.5757 135.145 44.315 135.145 44.0022C135.145 43.6894 135.145 43.533 135.145 43.5851C135.145 43.0638 134.832 42.6988 134.259 42.5946C134.051 42.5424 133.477 42.5424 132.487 42.5424C131.914 42.5424 131.653 42.386 131.653 42.1253C131.653 41.9168 131.862 41.8125 132.279 41.8125C132.487 41.8125 132.696 41.8125 132.852 41.8125C133.217 41.8125 134.415 41.8125 136.604 41.8125C136.917 41.8125 137.282 41.8125 137.699 41.8125C138.064 41.8125 138.324 41.8125 138.533 41.8125H139.158C139.888 41.8125 140.201 41.9168 140.201 42.1253ZM81.9834 54.8985C81.9834 58.6001 80.7326 61.7282 78.1787 64.2829C75.6249 66.8375 72.4977 68.1409 68.7973 68.1409C64.8883 68.1409 61.5527 66.8375 58.8946 64.2307C56.2365 61.624 54.8814 58.4437 54.8814 54.6378C54.8814 50.7798 56.1844 47.5996 58.7382 45.0971C61.2921 42.6467 64.6277 41.3955 68.6409 41.3955C72.4456 41.3955 75.5728 42.6988 78.1787 45.2535C80.6805 47.8602 81.9834 51.0405 81.9834 54.8985ZM68.4324 41.4476C68.4324 41.4476 67.0252 44.5757 66.7646 45.827C66.5561 46.7654 66.7125 47.7038 67.2337 48.4859C67.5464 48.9551 67.9634 49.32 68.4324 49.32C68.9015 49.32 69.3185 48.9551 69.6312 48.4859C70.1524 47.7038 70.3087 46.7654 70.1002 45.827C69.8396 44.5757 68.4324 41.4476 68.4324 41.4476ZM76.4067 59.7471C76.4067 59.7471 72.2893 61.5718 70.882 62.5624C69.8918 63.2923 69.1621 64.3871 69.0057 65.5862C68.9015 66.3683 69.0057 67.046 69.4748 67.4631C69.9439 67.8802 70.6736 67.8802 71.4032 67.7238C72.602 67.411 73.5922 66.6289 74.2177 65.5341C75.0516 64.0743 76.4067 59.7471 76.4067 59.7471ZM75.7812 53.4908C75.7812 53.4908 72.0287 55.1592 70.7257 56.0976C69.7875 56.7754 69.1621 57.7659 69.0057 58.8608C68.9015 59.5385 69.0057 60.2163 69.4227 60.5812C69.8396 60.9462 70.5172 60.9983 71.1947 60.7898C72.2893 60.5291 73.1753 59.7992 73.7486 58.8087C74.5304 57.401 75.7812 53.4908 75.7812 53.4908ZM75.1558 47.9645C75.1558 47.9645 71.7681 49.4764 70.5693 50.3106C69.7354 50.8841 69.1621 51.8225 69.0057 52.8131C68.9015 53.4387 69.0057 54.0122 69.3706 54.3771C69.7354 54.69 70.3608 54.7421 70.9342 54.5857C71.9244 54.325 72.7583 53.6473 73.2274 52.761C74.0092 51.5618 75.1558 47.9645 75.1558 47.9645ZM62.5951 65.5341C63.2205 66.6289 64.2108 67.411 65.4095 67.7238C66.1392 67.9323 66.8688 67.8802 67.3379 67.4631C67.807 67.046 67.9112 66.3161 67.807 65.5862C67.6506 64.3871 66.921 63.2923 65.9307 62.5624C64.5235 61.5718 60.4061 59.7471 60.4061 59.7471C60.4061 59.7471 61.7612 64.0743 62.5951 65.5341ZM63.0641 58.7565C63.6374 59.7471 64.5235 60.477 65.618 60.7377C66.2955 60.8941 66.9731 60.8941 67.39 60.5291C67.807 60.1642 67.9112 59.4864 67.807 58.8087C67.6506 57.7138 67.0252 56.7232 66.0871 56.0455C64.8362 55.107 61.0315 53.4387 61.0315 53.4387C61.0315 53.4387 62.2823 57.401 63.0641 58.7565ZM63.4811 52.8131C64.0023 53.6994 64.8362 54.3771 65.7743 54.6378C66.3998 54.7942 66.9731 54.7421 67.3379 54.4293C67.7028 54.1165 67.807 53.4908 67.7027 52.8652C67.5464 51.8747 66.9731 50.9362 66.1392 50.3627C64.9925 49.5286 61.5527 48.0166 61.5527 48.0166C61.5527 48.0166 62.8035 51.5618 63.4811 52.8131ZM40.9655 37.9545C40.9655 38.1109 40.8092 38.1631 40.4965 38.1631C40.5486 38.1631 40.4965 38.1631 40.2359 38.1631C39.9753 38.1631 39.5583 38.1631 39.0371 38.1631H38.0469C37.7863 38.1631 37.4214 38.1631 37.0045 38.1631C36.5875 38.1631 36.1706 38.1631 35.8057 38.1631H35.6494C35.3367 38.1631 35.1803 38.1109 35.1803 37.9545C35.1803 37.9024 35.2324 37.8502 35.2845 37.7981C35.3888 37.7981 35.6494 37.746 36.1706 37.746C36.5354 37.746 36.7439 37.6938 36.8481 37.5896C36.9002 37.4853 36.9524 37.1725 36.9524 36.599V27.9445C36.6396 28.8308 36.1185 30.2906 35.3888 32.376C34.9718 33.6273 34.4506 35.1913 33.8252 37.1725C33.6688 37.746 33.5125 38.0067 33.4082 38.0067C33.2519 38.0067 33.0955 37.746 32.9392 37.2768C32.5222 36.0255 31.3235 33.0017 29.2908 28.1009V37.3289C29.2908 37.5374 29.3951 37.6938 29.5514 37.746C29.812 37.746 30.1247 37.7981 30.5417 37.7981C30.7502 37.7981 30.9065 37.8502 30.9065 38.0067C30.9065 38.1631 30.7502 38.2152 30.3853 38.2152H30.0205C29.8641 38.2152 29.6557 38.2152 29.4472 38.2152H27.9357C27.7794 38.2152 27.5709 38.2152 27.3624 38.2152C27.1018 38.2152 26.9455 38.1631 26.9455 38.0067C26.9455 37.9024 27.206 37.7981 27.7794 37.7981C28.1963 37.7981 28.4048 37.746 28.4569 37.6417C28.509 37.5374 28.5612 37.2768 28.5612 36.7554V27.5796C28.5612 26.954 28.509 26.589 28.4048 26.4847C28.3006 26.3805 27.8836 26.3283 27.2582 26.2762C27.0497 26.2762 26.8933 26.2241 26.8933 26.0677C26.8933 25.9634 27.0497 25.9113 27.3624 25.8591C27.6751 25.8591 28.7175 25.807 30.5938 25.807L30.698 26.1198C30.8023 26.3283 30.9065 26.589 31.0629 26.954L31.6883 28.5702C31.8447 29.0394 32.1574 29.7693 32.5743 30.812L33.9816 34.305C34.2422 33.4709 34.4506 32.7931 34.607 32.376L36.9002 25.7549H38.9329H40.1316C40.6007 25.7549 40.8092 25.807 40.8092 25.9634C40.8092 26.1198 40.6528 26.1719 40.288 26.1719C39.8189 26.1719 39.5583 26.2241 39.4541 26.2241C39.1935 26.3283 39.0893 26.4847 39.0893 26.7976V36.4947C39.0893 37.2246 39.1414 37.5896 39.2977 37.6417C39.402 37.6938 39.8189 37.746 40.5486 37.746C40.8092 37.746 40.9655 37.7981 40.9655 37.9545ZM53.0572 37.4332C53.0572 38.0067 52.536 38.2673 51.5458 38.2673C50.6076 38.2673 49.7737 37.9024 49.2004 37.1725C48.9398 36.8597 48.7313 36.5469 48.6792 36.2341C48.575 35.9212 48.4707 35.1392 48.3665 33.9401C48.2623 33.1581 48.0538 32.6367 47.6368 32.3239C47.2199 32.0111 46.5423 31.8547 45.552 31.8025V37.3289C45.4999 37.5896 45.969 37.6938 46.9071 37.6938C47.1156 37.6938 47.2199 37.746 47.2199 37.9024C47.2199 38.0067 47.1156 38.1109 46.855 38.1109C46.6466 38.1109 46.4902 38.1109 46.2817 38.1109H45.3436C44.9266 38.1109 44.4575 38.1109 43.9363 38.1109C43.4152 38.1109 43.1024 38.1109 43.0503 38.1109H42.5291C42.0079 38.1109 41.7995 38.0588 41.7995 37.9545C41.7995 37.7981 41.9037 37.746 42.0601 37.746C42.1122 37.746 42.2164 37.746 42.3206 37.746H42.4249C43.0503 37.746 43.363 37.6417 43.363 37.381V26.7976C43.363 26.589 43.3109 26.4847 43.2067 26.4326C43.1024 26.3805 42.8418 26.3283 42.4249 26.3283C42.0079 26.3283 41.7995 26.2762 41.7995 26.1198C41.7995 26.0155 41.9037 25.9113 42.1643 25.9113H42.3728C42.6334 25.9113 43.5194 25.9113 44.9266 25.9113C45.4999 25.9113 46.0211 25.9113 46.386 25.9113C46.7508 25.9113 47.0635 25.9113 47.272 25.9113C48.4707 25.9113 49.4089 26.1719 50.1385 26.6412C50.8682 27.1104 51.2331 27.7881 51.2331 28.5702C51.2331 29.4565 50.8682 30.1342 50.0864 30.7077C49.3046 31.2291 48.2101 31.5419 46.855 31.6461C48.3665 31.8026 49.4089 32.2196 49.9301 32.8453C50.5034 33.4709 50.8682 34.5657 51.0246 36.2341C51.1288 37.3289 51.4415 37.9024 52.0148 37.9024C52.1191 37.9024 52.1712 37.9024 52.1712 37.7981C52.1712 37.7981 52.1712 37.746 52.1191 37.6417C52.067 37.5374 52.067 37.4853 52.067 37.4332C52.067 37.1204 52.2233 36.9118 52.5882 36.9118C52.9009 36.9118 53.0572 37.0682 53.0572 37.4332ZM48.8356 28.7787C48.8356 27.1625 48.0538 26.3805 46.4902 26.3805C46.0732 26.3805 45.8126 26.4326 45.7084 26.4847C45.6042 26.589 45.552 26.7454 45.552 27.0582V31.4376C47.7411 31.4376 48.8356 30.5513 48.8356 28.7787Z" fill="white"/>
</svg>

            )}
          </a>
        )
      }
      <div class="main-menu lg:flex  lg:items-center">
        <button id="close-menu" class="absolute top-6 right-6 lg:hidden"
          ><svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_153_1673)">
              <path
                d="M23.5 0.5L0.5 23.5"
                stroke="#651B22"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M23.5 23.5L0.5 0.5"
                stroke="#651B22"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_153_1673">
                <rect width="24" height="24" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </button>
        <nav
          class={`${textdark ? "text-main-200" : "text-main-200 lg:text-white"}`}
        >
          <ul class="lg:flex lg:gap-10 items-start lg:items-center main-nav">
            <!-- {
              mainMenu.map((item) => (
                <li>
                  <a
                    class="p-3 lg:p-0 block !text-2xl lg:!text-sm lg:!leading-4 small-text link"
                    href={item.link}
                  >
                    {item.title}
                  </a>
                </li>
              ))
            } -->
            {
              mainMenu.map((item) => {
                if (item.submenu) {
                  return (
                    <li class="dropdown dropdown-hover leading-none group has-sub-nav">
                      <label
                        tabindex="0"
                        class={`p-3 lg:p-0 flex justify-between menu-text cursor-pointer  ${
                          textdark
                            ? "text-main-200"
                            : "text-main-200 lg:text-white"
                        }`}
                      >
                        {item.title}
                        <svg
                          width="32"
                          height="32"
                          viewBox="0 0 32 32"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                          class="lg:hidden"
                        >
                          <g clip-path="url(#clip0_145_1762)">
                            <path
                              d="M7.46665 31.3333L24.2333 16.4987C24.3038 16.4361 24.3602 16.3593 24.3989 16.2734C24.4375 16.1874 24.4575 16.0942 24.4575 16C24.4575 15.9057 24.4375 15.8126 24.3989 15.7266C24.3602 15.6407 24.3038 15.5639 24.2333 15.5013L7.46665 0.666662"
                              stroke="#651B22"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </g>
                          <defs>
                            <clipPath id="clip0_145_1762">
                              <rect
                                width="32"
                                height="32"
                                fill="white"
                                transform="translate(32 32) rotate(180)"
                              />
                            </clipPath>
                          </defs>
                        </svg>
                      </label>
                      <div
                        tabindex="0"
                        class="dropdown-content md:pt-5 sub-nav"
                      >
                        <button class="sub-nav-back text-black absolute top-6 right-6 lg:hidden">
                          <svg
                            width="32"
                            height="32"
                            viewBox="0 0 32 32"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              d="M24.5333 0.666672L7.76668 15.5013C7.69619 15.5639 7.63975 15.6407 7.60111 15.7266C7.56246 15.8126 7.54248 15.9058 7.54248 16C7.54248 16.0943 7.56246 16.1874 7.60111 16.2734C7.63975 16.3593 7.69619 16.4361 7.76668 16.4987L24.5333 31.3333"
                              stroke="#60113D"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </button>
                        <ul class="list-none submenu p-2  rounded-2xl bg-bordo-400 lg:max-w-[229px]  lg:bg-main-100">
                          {item.submenu.map((submenu) => {
                            return (
                              <li class="p-[10px]">
                                <a
                                  href={submenu.link}
                                  class=" text-main-200 lg:text-white  group/subnav cursor-pointer transition link menu-text duration-300"
                                >
                                  {submenu.title}
                                </a>
                              </li>
                            );
                          })}
                        </ul>
                      </div>
                    </li>
                  );
                } else {
                  return (
                    <li class="leading-none">
                      <a
                        class="p-3 lg:p-0 block menu-text link text-left lg:text-center menu-1"
                        href={item.link}
                      >
                        {item.title}
                      </a>
                    </li>
                  );
                }
              })
            }
          </ul>
        </nav>
        <div class="flex gap-4 ml-7 lg:ml-12 social mt-8 lg:mt-0">
          <a href="/">
            {textdark ? (
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM12.4822 7.51822C13.3924 7.4768 13.6832 7.46667 16.0008 7.46667H15.9981C18.3164 7.46667 18.6061 7.4768 19.5164 7.51822C20.4248 7.55982 21.0453 7.70365 21.5893 7.91467C22.1511 8.13245 22.6257 8.42401 23.1004 8.89868C23.5751 9.373 23.8666 9.84909 24.0853 10.4103C24.2951 10.9529 24.4391 11.573 24.4818 12.4815C24.5226 13.3917 24.5333 13.6826 24.5333 16.0001C24.5333 18.3176 24.5226 18.6078 24.4818 19.518C24.4391 20.4261 24.2951 21.0464 24.0853 21.5891C23.8666 22.1502 23.5751 22.6263 23.1004 23.1006C22.6263 23.5753 22.1509 23.8675 21.5898 24.0855C21.0469 24.2965 20.4261 24.4404 19.5176 24.482C18.6074 24.5234 18.3174 24.5335 15.9997 24.5335C13.6824 24.5335 13.3917 24.5234 12.4815 24.482C11.5732 24.4404 10.9529 24.2965 10.41 24.0855C9.84907 23.8675 9.37298 23.5753 8.89884 23.1006C8.42435 22.6263 8.13279 22.1502 7.91465 21.5889C7.7038 21.0464 7.55998 20.4263 7.5182 19.5178C7.47696 18.6076 7.46665 18.3176 7.46665 16.0001C7.46665 13.6826 7.47731 13.3915 7.51802 12.4813C7.55891 11.5732 7.70292 10.9529 7.91447 10.4102C8.13314 9.84909 8.4247 9.373 8.89937 8.89868C9.37369 8.42419 9.84978 8.13263 10.411 7.91467C10.9536 7.70365 11.5737 7.55982 12.4822 7.51822Z" fill="#7D141B"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M15.235 9.00445C15.3836 9.00422 15.5435 9.00429 15.7161 9.00437L16.0005 9.00445C18.2789 9.00445 18.549 9.01263 19.4487 9.05352C20.2807 9.09156 20.7323 9.23059 21.0331 9.34739C21.4313 9.50206 21.7152 9.68695 22.0137 9.98562C22.3124 10.2843 22.4973 10.5687 22.6523 10.967C22.7691 11.2674 22.9083 11.719 22.9462 12.551C22.9871 13.4505 22.996 13.7208 22.996 15.9981C22.996 18.2755 22.9871 18.5457 22.9462 19.4453C22.9081 20.2773 22.7691 20.7288 22.6523 21.0293C22.4976 21.4275 22.3124 21.7111 22.0137 22.0096C21.7151 22.3082 21.4315 22.4931 21.0331 22.6478C20.7326 22.7651 20.2807 22.9038 19.4487 22.9418C18.5492 22.9827 18.2789 22.9916 16.0005 22.9916C13.7219 22.9916 13.4519 22.9827 12.5523 22.9418C11.7203 22.9034 11.2687 22.7644 10.9677 22.6476C10.5695 22.4929 10.2851 22.3081 9.9864 22.0094C9.68773 21.7107 9.50284 21.427 9.34782 21.0286C9.23102 20.7281 9.09182 20.2766 9.05395 19.4446C9.01306 18.545 9.00488 18.2748 9.00488 15.996C9.00488 13.7172 9.01306 13.4484 9.05395 12.5488C9.09199 11.7168 9.23102 11.2653 9.34782 10.9645C9.50249 10.5662 9.68773 10.2818 9.9864 9.98313C10.2851 9.68446 10.5695 9.49957 10.9677 9.34455C11.2686 9.22721 11.7203 9.08854 12.5523 9.05032C13.3395 9.01476 13.6446 9.0041 15.235 9.00232V9.00445ZM20.5556 10.4214C19.9902 10.4214 19.5316 10.8795 19.5316 11.445C19.5316 12.0104 19.9902 12.469 20.5556 12.469C21.1209 12.469 21.5796 12.0104 21.5796 11.445C21.5796 10.8797 21.1209 10.421 20.5556 10.421V10.4214ZM11.6182 16.0001C11.6182 13.58 13.5803 11.6179 16.0003 11.6178C18.4204 11.6178 20.3821 13.58 20.3821 16.0001C20.3821 18.4202 18.4206 20.3815 16.0005 20.3815C13.5804 20.3815 11.6182 18.4202 11.6182 16.0001Z" fill="#7D141B"/>
<path d="M16.0007 13.1556C17.5716 13.1556 18.8452 14.429 18.8452 16.0001C18.8452 17.5709 17.5716 18.8446 16.0007 18.8446C14.4297 18.8446 13.1562 17.5709 13.1562 16.0001C13.1562 14.429 14.4297 13.1556 16.0007 13.1556Z" fill="#7D141B"/>
</svg>
) : (
  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM12.4822 7.51822C13.3924 7.4768 13.6832 7.46667 16.0008 7.46667H15.9981C18.3164 7.46667 18.6061 7.4768 19.5164 7.51822C20.4248 7.55982 21.0453 7.70365 21.5893 7.91467C22.1511 8.13245 22.6257 8.42401 23.1004 8.89868C23.5751 9.373 23.8666 9.84909 24.0853 10.4103C24.2951 10.9529 24.4391 11.573 24.4818 12.4815C24.5226 13.3917 24.5333 13.6826 24.5333 16.0001C24.5333 18.3176 24.5226 18.6078 24.4818 19.518C24.4391 20.4261 24.2951 21.0464 24.0853 21.5891C23.8666 22.1502 23.5751 22.6263 23.1004 23.1006C22.6263 23.5753 22.1509 23.8675 21.5898 24.0855C21.0469 24.2965 20.4261 24.4404 19.5176 24.482C18.6074 24.5234 18.3174 24.5335 15.9997 24.5335C13.6824 24.5335 13.3917 24.5234 12.4815 24.482C11.5732 24.4404 10.9529 24.2965 10.41 24.0855C9.84907 23.8675 9.37298 23.5753 8.89884 23.1006C8.42435 22.6263 8.13279 22.1502 7.91465 21.5889C7.7038 21.0464 7.55998 20.4263 7.5182 19.5178C7.47696 18.6076 7.46665 18.3176 7.46665 16.0001C7.46665 13.6826 7.47731 13.3915 7.51802 12.4813C7.55891 11.5732 7.70292 10.9529 7.91447 10.4102C8.13314 9.84909 8.4247 9.373 8.89937 8.89868C9.37369 8.42419 9.84978 8.13263 10.411 7.91467C10.9536 7.70365 11.5737 7.55982 12.4822 7.51822Z" fill="white"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M15.235 9.00445C15.3836 9.00422 15.5435 9.00429 15.7161 9.00437L16.0005 9.00445C18.2789 9.00445 18.549 9.01263 19.4487 9.05352C20.2807 9.09156 20.7323 9.23059 21.0331 9.34739C21.4313 9.50206 21.7152 9.68695 22.0137 9.98562C22.3124 10.2843 22.4973 10.5687 22.6523 10.967C22.7691 11.2674 22.9083 11.719 22.9462 12.551C22.9871 13.4505 22.996 13.7208 22.996 15.9981C22.996 18.2755 22.9871 18.5457 22.9462 19.4453C22.9081 20.2773 22.7691 20.7288 22.6523 21.0293C22.4976 21.4275 22.3124 21.7111 22.0137 22.0096C21.7151 22.3082 21.4315 22.4931 21.0331 22.6478C20.7326 22.7651 20.2807 22.9038 19.4487 22.9418C18.5492 22.9827 18.2789 22.9916 16.0005 22.9916C13.7219 22.9916 13.4519 22.9827 12.5523 22.9418C11.7203 22.9034 11.2687 22.7644 10.9677 22.6476C10.5695 22.4929 10.2851 22.3081 9.9864 22.0094C9.68773 21.7107 9.50284 21.427 9.34782 21.0286C9.23102 20.7281 9.09182 20.2766 9.05395 19.4446C9.01306 18.545 9.00488 18.2748 9.00488 15.996C9.00488 13.7172 9.01306 13.4484 9.05395 12.5488C9.09199 11.7168 9.23102 11.2653 9.34782 10.9645C9.50249 10.5662 9.68773 10.2818 9.9864 9.98313C10.2851 9.68446 10.5695 9.49957 10.9677 9.34455C11.2686 9.22721 11.7203 9.08854 12.5523 9.05032C13.3395 9.01476 13.6446 9.0041 15.235 9.00232V9.00445ZM20.5556 10.4214C19.9902 10.4214 19.5316 10.8795 19.5316 11.445C19.5316 12.0104 19.9902 12.469 20.5556 12.469C21.1209 12.469 21.5796 12.0104 21.5796 11.445C21.5796 10.8797 21.1209 10.421 20.5556 10.421V10.4214ZM11.6182 16.0001C11.6182 13.58 13.5803 11.6179 16.0003 11.6178C18.4204 11.6178 20.3821 13.58 20.3821 16.0001C20.3821 18.4202 18.4206 20.3815 16.0005 20.3815C13.5804 20.3815 11.6182 18.4202 11.6182 16.0001Z" fill="white"/>
            <path d="M16.0007 13.1556C17.5716 13.1556 18.8452 14.429 18.8452 16.0001C18.8452 17.5709 17.5716 18.8446 16.0007 18.8446C14.4297 18.8446 13.1562 17.5709 13.1562 16.0001C13.1562 14.429 14.4297 13.1556 16.0007 13.1556Z" fill="white"/>
            </svg>
            )}
            </a>
            <a href="/">
              {textdark ?
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM17.6677 16.7028V25.4077H14.066V16.7031H12.2667V13.7034H14.066V11.9024C14.066 9.4552 15.0821 8 17.9688 8H20.372V11.0001H18.8698C17.7461 11.0001 17.6718 11.4193 17.6718 12.2017L17.6677 13.7031H20.3891L20.0706 16.7028H17.6677Z" fill="#7D141B"/>
              </svg>
              :
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M16 0C7.16344 0 0 7.16344 0 16C0 24.8366 7.16344 32 16 32C24.8366 32 32 24.8366 32 16C32 7.16344 24.8366 0 16 0ZM17.6677 16.7028V25.4077H14.066V16.7031H12.2667V13.7034H14.066V11.9024C14.066 9.4552 15.0821 8 17.9688 8H20.372V11.0001H18.8698C17.7461 11.0001 17.6718 11.4193 17.6718 12.2017L17.6677 13.7031H20.3891L20.0706 16.7028H17.6677Z" fill="white"/>
              </svg>
              }
              </a>
        </div>
      </div>
     
      <button id="open-menu" class="lg:hidden ml-8"
        ><svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 h-8 burger"
        >
          <path
            d="M3 7H21"
            stroke={`${textdark ? "#750843" : "#FFF"}`}
            stroke-width="1"
            stroke-linecap="round"></path>
          <path
            d="M3 12H21"
            stroke={`${textdark ? "#750843" : "#FFF"}`}
            stroke-width="1"
            stroke-linecap="round"></path>
          <path
            d="M3 17H21"
            stroke={`${textdark ? "#750843" : "#FFF"}`}
            stroke-width="1"
            stroke-linecap="round"></path>
        </svg></button
      >
    </div>
  </div>
  <SearchBar />
</header>
